/* ***************************Selector************************************ */

body{
  margin:0;
  text-align: center;
  font-family: "Merriweather", serif;
  color:#40514E
}

h1{
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.62rem;
  color: #66BFBF;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

td{
  text-align: left;
}

hr{
  border: dotted #EAF6F6 6px;
  width: 5rem;
  border-bottom: none;
  margin:100px auto;

}

p{
  margin-bottom: 0;
}

a{
  color:#11999E;
  font-family: "Montserrat",sans-serif;
  margin:20px 10px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}

i{
  margin-right: 0;
  margin-left: 20px;
}
/* ***************************class************************************ */
.top-container{
  background-color: #E4F9F5;
  position:relative;
  padding-top: 200px;
  height: 90%;


}

.profile{
  width:50%;
}

.profileimg{
  border-radius: 100%;
  width:25%;
}

.comp1{
  width:25%;
  float: left;
  margin-right: 30px;
}

.comp2{
  width:25%;
  float: right;

}


.skill-row{
  margin: 100px auto 100px auto;
  line-height: 2;
  width:50%;
  text-align: left;
}

.skill-row1{
  margin: 50px auto 70px auto;
  line-height: 2;
  width:50%;
}


.profile{
  margin: 100px auto 100px auto;
  line-height: 2;
}



.top-cloud{
  position: absolute;
  right: 18rem;
  top: 4.5rem;
}

.bottom-cloud{
  position: absolute;
  left: 15.62rem;
  bottom: 18.75rem;
}

.contact{
  color:white;
}

.contact-me{
  margin-bottom: 60px;

}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 15px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 30px 0;
  text-align: center;
}

.footer-link{
  margin:0;
  margin-right: 20px;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat",serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
